# Create a .env.development with:
#VITE_IFRAME_ORIGIN=http://localhost:5173
#VITE_ALLOWED_MESSAGE_ORIGINS=http://localhost:5173
#VITE_SANDBOX_URL=/sandbox.html

# Create a .env.production with:
#VITE_IFRAME_ORIGIN=https://xode.box.roxon.hr
#VITE_ALLOWED_MESSAGE_ORIGINS=https://xode.roxon.hr https://xode.box.roxon.hr
#VITE_SANDBOX_URL=https://xode.box.roxon.hr/
