#logo {
    cursor: pointer;

    @media (width <=576px) {
        width: 2.5rem;
    }
}

#top {
    background: var(--bg);
    color: #fff;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    br {
        all: unset;
        display: block;
        height: 1ch;
        flex: 1;
        white-space: pre;
    }

    & label>* {
        vertical-align: middle;
        font-size: 0.9rem;
        display: inline-flex;
        align-items: center;
    }

    button {
        &:hover {
            background: var(--c1);
            color: var(--background);
        }
    }

    body:not(.consoleWarning) &.is-detached {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 10;
        box-shadow: 0 0.1rem 1rem #0008;
        transition: translate 0.3s;
        translate: 0 -100%;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            height: 1rem;
            top: 100%;
        }

        &:hover {
            translate: 0 0;
        }
    }
}

#app {
    flex: 1;
    height: 100%;
}

#preview-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#preview {
    background: #fff;
    border: 0;
    display: block;
    width: 100%;
    height: 100%;

    &.is-mobile {
        inset: 0;
        position: absolute;
        margin: auto;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        aspect-ratio: 9 / 16;
        zoom: 0.8
    }
}


.tabs {
    display: flex;
    flex: 1;
    overflow: hidden;
    overflow-x: auto;
    justify-content: safe center;
}

/* Hide rich editor button if preview is hidden */
:has([data-rea-model="project.panes.preview"]:not(:checked)) label:has([data-rea-model="project.panes.richEditor"]) {
    display: none;
}

#projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(18rem, 100%), 1fr));
    gap: 1rem;
    padding: 1rem 0;

    &:empty {
        &::before {
            user-select: none;
            content: "No saved Projects";
            font-style: italic;
            padding: 0.5em 0;
            font-size: 0.9em;
            opacity: 0.2;
        }
    }

    .project {
        overflow: hidden;
        transition: 0.3s;

        @starting-style {
            opacity: 0;
            scale: 0.9;
        }

        .thumbnail {
            cursor: pointer;
            margin-bottom: 0.4rem;
            transition: box-shadow 0.25s;

            &:hover {
                box-shadow: 0 0 0 0.2rem var(--c1);
            }
        }

        .thumbnail-iframe {
            display: block;
            background: #fff;
            border: 0;
            width: 100%;
            aspect-ratio: 16 / 9;
            zoom: 0.3;
            scale: 1.001;
            pointer-events: none;
            overscroll-behavior: none;
        }

        .bar {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            br+* {
                margin-left: auto;
            }
        }

        .project-actions {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            >* {
                padding: 0.2em 0.4em;
            }
        }

        &.is-hidden {
            display: none;
        }
    }
}

#modal-projects {
    max-width: 1200px;

    >* {
        flex: 1;
    }
}

#githubPublish {
    align-self: flex-end;
}