#logo {
    cursor: pointer;
}

#top {
    background: var(--bg);
    color: #fff;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    br {
        all: unset;
        display: block;
        height: 1ch;
        flex: 1;
        white-space: pre;
    }

    & label>* {
        vertical-align: middle;
        font-size: 0.9rem;
        display: inline-flex;
        align-items: center;
    }

    button {
        &:hover {
            background: var(--c1);
            color: var(--background);
        }
    }

    &.is-detached {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 10;
        box-shadow: 0 0.1rem 1rem #0008;
        transition: translate 0.3s;
        translate: 0 -100%;

        #logo {
            translate: 0 3.3rem;
            transition: translate 0.3s;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                height: 5px;
                top: 100%;
                opacity: 0.5;
                background: var(--c1);
            }
        }

        &:hover {
            translate: 0 0;

            #logo {
                translate: 0 0;
            }
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            height: 1rem;
            top: 100%;
        }

        &::after {
            content: "Preview";
            position: absolute;
            left: 5rem;
            top: calc(100% + 0.64rem);
            font-size: 1.4rem;
            opacity: 0.5;
            color: #888;
        }

    }
}

#app {
    flex: 1;
    height: 100%;
}

#preview {
    background: #fff;
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
}

.tabs {
    display: flex;
    flex: 1;
    justify-content: center;
}

.console {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: absolute;
    inset: 0;
    background: color-mix(in srgb, var(--bg), #000 20%);
    color: #d4d4d4;
    font: 0.75rem/1.2 'Consolas', 'Courier New', monospace;
    justify-content: flex-start;
    align-content: flex-start;
    overflow: auto;

    &:empty {
        &::before {
            user-select: none;
            content: "›_  Console";
            font-style: italic;
            padding: 0.5em 0.8em;
            font-size: 1.2em;
            opacity: 0.2;
        }
    }

    .log {
        flex: 0 0 auto;
        overflow-anchor: none;
        position: relative;
        color: color-mix(in srgb, var(--bg), #fff 80%);
        border-bottom: 1px solid color-mix(in srgb, var(--bg), var(--fg) 3%);
        border-left: 2px solid transparent;
        padding: 0.5em;
        width: 100%;
        min-height: 2lh;
        white-space: pre-wrap;
        font: inherit;

        .log-line {
            content: attr(data-line);
            position: absolute;
            top: 0;
            right: 0.5rem;
            opacity: 0.5;
            font-size: 0.8em;
        }

        &.info {
            border-left: 1px solid var(--c1);
        }

        &.error {
            border-left: 1px solid var(--ce);
            color: color-mix(in srgb, var(--fg), var(--ce) 40%);
        }

        &.warn {
            border-left: 1px solid #dcdcaa;
        }

        &.clear {
            font-style: italic;
            color: color-mix(in srgb, var(--fg), var(--bg) 70%);
        }
    }

    &:after {
        content: "\00a0";
        display: block;
        overflow-anchor: auto;
        height: 0ch;
    }
}

.console-clear {
    position: absolute;
    top: 0.3em;
    right: 0.3em;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s;
    background-color: color-mix(in srgb, var(--bg), #0000 50%);
}

[data-view="console"]:hover .console-clear {
    opacity: 1;
}

/* Hide rich editor button if preview is hidden */
:has([data-rx="panes.preview"]:not(:checked)) label:has([data-rx="panes.richEditor"]) {
    display: none;
}

#projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(18rem, 100%), 1fr));
    gap: 1rem;
    padding: 1rem 0;

    &:empty {
        &::before {
            user-select: none;
            content: "No saved Projects";
            font-style: italic;
            padding: 0.5em 0;
            font-size: 0.9em;
            opacity: 0.2;
        }
    }

    .project {
        overflow: hidden;
        transition: 0.3s;

        @starting-style {
            opacity: 0;
            scale: 0.9;
        }

        .thumbnail {
            cursor: pointer;
            margin-bottom: 0.4rem;
            transition: box-shadow 0.25s;

            &:hover {
                box-shadow: 0 0 0 0.2rem var(--c1);
            }
        }

        iframe {
            display: block;
            background: #fff;
            border: 0;
            width: 100%;
            aspect-ratio: 16 / 9;
            zoom: 0.3;
            pointer-events: none;
            scale: 1.001;
        }

        .bar {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            br+* {
                margin-left: auto;
            }
        }

        .project-actions {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            >* {
                padding: 0.2em 0.4em;
            }
        }

        &.is-hidden {
            display: none;
        }
    }
}

#modal-projects {
    max-width: 1200px;

    >* {
        flex: 1;
    }
}

#githubPublish {
    align-self: flex-end;
}