[data-view="richEditor"] {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: safe center;
    background: var(--bg);
    color: var(--fg);
    border-bottom: 1px solid color-mix(in srgb, var(--bg), var(--fg) 10%);
    overflow: hidden;
    overflow-x: auto;
}

.cmd-group {
    flex-shrink: 0;
    position: relative;
    padding: 4px;
    display: inline-flex;
    align-items: center;
    border-right: 1px solid color-mix(in srgb, var(--bg), var(--fg) 10%);
    flex-wrap: nowrap;

    >* {
        position: relative;
        cursor: pointer;
        padding: 6px 5px;
        border-radius: 3px;
        transition: background 0.2s;

        &:hover {
            background: var(--c1);
        }
    }
}