.view {
    --grow: 100;

    display: flex;
    position: relative;
    flex: var(--grow) 0 0;
    overflow: hidden;
    background-color: color-mix(in srgb, var(--bg), #000 10%);

    .view {
        display: none;

        &:has([data-open="true"]:not([data-open-inner])) {
            display: flex;
        }

        &[data-open="true"] {
            display: flex;
        }
    }

    &.col {
        flex-direction: column;

        &>.splitter {
            /* Horizontal splitters */
            cursor: ns-resize;
        }
    }

    >.splitter {
        /* Vertical splitters */
        position: relative;
        flex: 0 0 1px;
        touch-action: none;
        cursor: ew-resize;
        background-color: color-mix(in srgb, var(--bg), var(--fg) 10%);
        transition: background-color 0.24s;

        /* Remove splitter if not followed by a view */
        &:not(:has(+.view)),
        &:has(+.view[data-open="false"]) {
            display: none;
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0px;
            width: calc(100% + 6px);
            height: calc(100% + 6px);
            z-index: 2;
        }

        &:hover {
            background-image: linear-gradient(45deg, var(--c2), var(--c1));
        }

        &:first-child {
            display: none;
        }
    }
}

[data-open="false"] {
    display: none;
}