.splitview {
    --grow: 100;

    position: relative;
    display: flex;
    min-width: 0;
    min-height: 0;
    flex: var(--grow) 0 0;
    overflow: hidden;
    background: color-mix(in srgb, var(--bg), #000 10%);

    &.is-vertical {
        flex-direction: column;

        > .splitter {
            cursor: ns-resize;
        }
    }

    > .splitter {
        position: relative;
        z-index: 4;
        flex: 0 0 1px;
        touch-action: none;
        cursor: ew-resize;
        background: transparent;
        background: color-mix(in srgb, var(--bg), var(--fg) 10%);
        transition: background 0.24s;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            width: calc(100% + 6px);
            height: calc(100% + 6px);
        }

        &:hover {
            background: linear-gradient(45deg, var(--c2), var(--c1));
        }

        &:first-child,
        &:not(:has(+ .splitview)) {
            display: none;
        }
    }
}

.splitview .splitview {
    display: none;

    &[data-open="true"],
    &:has([data-open="true"]:not([data-rea-open-inner])) {
        display: flex;
    }
}

[data-open="false"],
[data-open="false"] + .splitter,
.splitter:has(+ [data-open="false"]),
.splitview:has([data-open]):not(:has([data-open="true"])) + .splitter {
    display: none;
}

[data-open="true"]:has(~ [data-open="true"]) + .splitter {
    display: initial;
}
