.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.flex-1 {
    flex: 1;
}